.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px;
  cursor: pointer;
}
 .btn-gradient {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
  margin: 0 auto;
  padding: 8px 25px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#86cb49), color-stop(#169b74), to(#86cb49));
  background-image: -o-linear-gradient(left, #86cb49, #169b74, #86cb49);
  background-image: linear-gradient(to right, #86cb49, #169b74, #86cb49);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
