<h1>home page</h1>

{{#each data}}

  <p>{{this.email}}</p>
{{/each}}

<form action="" method="post">
  <div>email</div>
  <input type="text" name="email" />
  <div>password</div>

  <input type="text" name="password" />

</form>
  <button onclick="testApi()" type="submit">gửi</button>
